# .BAK Backup files
**/*.BAK

# IDE Config files
**/CURRENT.STS
**/QBX.INI

QBX/

# QB Binary files
**/*.BIN

# Compiled executables
**/*.EXE
**/*.DLL

# Output files
OUTPUT.ASM
OUTPUT.ROM

# Logfile
LOG.TXT

# .MAK files except for the main one
**/*.MAK
!/STUPIDC.MAK
